// Imports scss
@import "variables";

// Imports css

@import url('https://fonts.googleapis.com/css?family=Anton');

@import url('https://fonts.googleapis.com/css?family=Anton|Poppins');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


// NAV
nav{
    .navbar-nav{
        .nav-item{
            color:white;
            font-weight: bold;
            .nav-link{
                color: white;
                font-weight: bold;
            }
            .nav-link:hover{
                color: #A91B0C !important;
            }
            .dropdown-menu{
                background-color: #333333;
                a{
                    color: white;
                }
                a:hover{
                    color: #A91B0C;
                    background-color: white !important;
                    font-weight: bold;
                }
            }
        }
    }
    .shopping , .phone{
        color: white;
        font-weight: bold;
    }
}



//Image Cintre

#image-cintre{
    background: url("../img/fond.jpg") no-repeat center;
    background-size: cover;
    .col-12{
        height: 75vh;
    }
    #text{
        width: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .new-menu{
            font-family: $font-new-menu;
            color: white;
            background-color: $rouge;
            font-size: 2rem;
            display: inline;
            padding: 3px 10px;
            font-style: italic;
        }
        .pizza1{
            color:white;
            font-family: $font-new-menu;
            font-size: 4rem;

        }
        .SEAFOOD{
            color:$jaune;
            font-family: $font-new-menu;
            font-size: 3rem;
  
        }
    }
}
// OFFERS
#offers{
    margin-top: 12vh;
    h2{
    color:#333333;
    font-family: "PlayfairDisplay-Bold";
    font-size: 50px;
     }
    
    p{
        font-size: 2rem;
    }
    .p1{
        color: green;
        border: 5px solid green;
        border-radius: 50%;
    }
    .p2{
        background-color: #dc3545;
        border-radius: 50%;
        color: white;
        padding: 10px;
        // font-size: 2.5rem;
        // color: #dc3545;
        // border: 5px solid #dc3545;
    }

  
     
    .card{
        // overflow: hidden;
        box-shadow: 10px 10px 5px grey;
    }
    // .photo1{
    //     background: url("../img/photo1.jpg")  no-repeat;
    //     background-size: cover;
    //     height: 30vh;
    //     transition: 3s;
    //     &:hover{
    //         transform: scale(1.5);
    //         transition: transform 3s;
    //     }
    //  }
    // .photo2{
    //     background: url("../img/photo2.jpg") center no-repeat;
    //     background-size: cover;
    //     height: 30vh;
    //     transition: 3s;
    //     &:hover{
    //         transform: scale(1.5);
    //         transition: transform 3s;
    //     }
    // }
    // .photo3{
    //     background: url("../img/photo3.jfif") center no-repeat;
    //     background-size: cover;
    //     height: 30vh;
    //     transition: 3s;
    //     &:hover{
    //         transform: scale(1.5);
    //         transition: transform 3s;
    //     }

    // }
}

#pizza{
    margin-top: 15vh;
    font-family: "PlayfairDisplay-Bold";
    font-size: 30px;
    color: #666666;
    h2{
    color:#333333;
    font-size: 50px;
     }
     p{
         text-align: center;
         font-size: 0.5em;
     }

}

.separator{
    height: 3px;
    width: 25%;
    border: none;
    box-shadow: none;
    margin: auto;
    background-color: #A91B0C
  }

  .pizza{
      margin-top: 9vh;
  }

  footer{
      padding:20px;
      .col-md-4{
          padding: 20px;
      }
      h3{
          font-size: 1.6rem;
      }
      ul li{
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          line-height: 2.14;
          i{
              margin-right: 15px;
          }
          .text-left{
              margin-right: 20px;
          }
      }
      hr{
          background-color: rgb(116, 114, 114);
      }
  }

  .reservation{
      margin-top: 9vh;
      margin-bottom: 9vh;
    h2{
        color:#333333;
    font-family: "PlayfairDisplay-Bold";
    font-size: 50px;
     }

  }

  .iframe-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100%;
      }
  }
  
  .nav1{
      background-color: #222222;
      height: 12vh;
      .navbar-nav{
          .nav-item{
              .nav-link:hover{
                color: #A91B0C;
              }
          }
      }
  }
.about{
    margin-top: 15vh;
    font-family: "PlayfairDisplay-Bold";
    h1{
        padding: 5vh;
        font-size: 4.5rem;
    }
    p{
        margin-top: 9vh;
        font-size: 1rem;
    }
}

